<h2 class="text-light">All Orders</h2>
<% @orders.each do |order| %>
  <p>ID: <%= order.id %></p>
  <p>Name: <%= order.user.name %></p>
  <p>Email: <%= order.user.email %></p>
  <p>Order Address: <%= order.address %></p>
  <p>Order Date: <%= order.order_date %></p>
  <p>Order Status: <%= order.status %></p>
  <p>Total Amount: <%= order.total_amount %></p>
  <p>Order Items: </p>
  <ul>
    <% order.order_items.each do |order_item| %>
    <li><%= order_item.quantity %> x <%= order_item.product.name %></li>
    <% end %>
  </ul>
<% end %>
