<div class="container-fluid w-50 shadow mt-5 rounded border p-4 bg-dark">
  <h2 class = "text-light">Cart</h2>
  <% if user_signed_in? %>
    <%= link_to "Back", user_products_path(current_user) %>
  <% else %>
    <%= link_to "Back", root_path  %>
  <% end %>
  <div class="container-fluid w-50 shadow mt-5 rounded border p-4 bg-warning">
    <ul>
      <% current_cart.cart_items.each do |cart_item| %>
        <h4>
          <li>
            Item: <%= cart_item.product.name %>
          </li>
        </h4>
        <div>
          Price: Rs. <%= cart_item.product.price %>
        </div>
        <div>
          Quantity: <%= cart_item.quantity %>
        </div>
        <div>
          <%= link_to "Remove item", cart_item_path(cart_item.id), data: {turbo_method: :delete, confirm: "Are you sure?"} %>
        </div>
        <div class="row align-items-center">
          <div class="col-auto">
            <%= form_for cart_item, url: cart_item_path(cart_item.id), method: :patch do |f| %>
              <%= f.hidden_field :change, value: 'increase' %>
              <%= f.submit '+', class: 'increase-quantity' %>
            <% end %>
          </div>
          <div class="col-auto">
            <%= form_for cart_item, url: cart_item_path(cart_item.id), method: :patch do |f| %>
              <%= f.hidden_field :change, value: 'decrease' %>
              <%= f.submit '-', class: 'decrease-quantity' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </ul>
    <h3>Total Amount: <%= current_cart.total_amount %></h3>
    <% if current_cart.total_amount.zero? %>
      <p>Your cart is Empty</p>
    <% else %>
      <%= link_to "Proceed to checkout", new_user_order_path(current_user) if current_cart.cart_items.any? %>
    <% end %>
  </div>
  <%= link_to "Empty cart", user_cart_path(current_user.cart.id), data: {turbo_method: :delete, confirm: "Are you sure?"}%>
</div>
