<div class="container-fluid w-50 shadow mt-5 rounded border p-4 bg-dark" >
  <% if !@discount %>
  <h2 class= "text-light"> New Coupon </h2>
  <% else %>
  <h2 class= "text-light"> Edit Coupon </h2>
  <% end %>
  <%= form_for @discount do |f| %>
    <% if @discount and @discount.errors.any? %>
      <div id="error_explanation">
        <h2 class="text-light "><%= pluralize(@discount.errors.count, "error") %> prohibited this product from being saved:</h2>
        <ul>
          <% @discount.errors.full_messages.each do |msg| %>
            <li class="text-light "><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-outline mb-4 text-light">
      <%= f.label :percentage, class: "form-label" %>
      <%= f.number_field :percentage, required: true, autofocus: true, autocomplete: "percentage", class: "form-control" %>
    </div>
    <div class="form-outline mb-4 text-light">
      <%= f.label :expiry_date, class: "form-label" %>
      <%= f.date_field :expiry_date, required: true, autofocus: true, autocomplete: "expiry_date", class: "form-control", placeholder: "Expiry date of discount" %>
    </div>
    <div class="dropdown field mb-3 text-start text-light">
      <%= f.label :select_product, class: "form-label" %><br />
      <% if current_user.has_role? :seller %>
      <%= f.select :product_id, options_for_select(current_user.products.map {|key| [key.name, key.id]}), class: "form-control form-select" %>
      <% else %>
      <%= f.select :product_id, options_for_select(Product.all.map {|key| [key.name, key.id]}), class: "form-control form-select" %>
      <% end %>
    </div>
    <%= f.submit "Submit", class: 'actions mb-2 text-dark btn btn-warning mt-3' %>
  <% end %>
</div>
