<div class="container-fluid w-50 shadow mt-5 rounded border p-4 bg-dark">
  <% if user_signed_in? %>
    <%= link_to "Back", user_products_path(current_user)  %>
  <% else %>
    <%= link_to "Back", root_path  %>
  <% end %>
  <div class="text-light text-center">
    <div>
      <%= image_tag @product.product_image, class: "img-fluid center-image", style: "width: 150px; height: 150px;margin:0 auto;" if @product.product_image.attached? %>
    </div>
    <p> <%= @product.name %></p>
    <p> Price: <%= @product.price %></p>
    <p> Description: <%= @product.description %></p>
    <p> Brand: <%= @product.brand %></p>
    <p> Stock_quantity: <%= @product.stock_quantity %></p>
    <% if !current_user&.has_role? :customer %>
      <h3>Product:<%= @product.id %></h3>
      <%= link_to "Edit", edit_user_product_path(current_user, @product), class: "btn btn-primary" %>
      <%= link_to 'Delete', user_product_path(current_user, @product), method: :delete, data: {Confirm: "Are you sure?"}, class: "btn btn-primary"%>
    <% end %>
  </div>
</div>
